<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.saaplication">




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.SaAplication"
        tools:targetApi="33">

        <activity
            android:name=".Activities.AddPostActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.ProfileScrenPage1"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.PaginaInicial"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.RegistroScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LoginScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Login_register_screen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>




</manifest>